name: boh
services:
  boh-user-service:
    image: boh-user-service:v1
    build:
      context: ./boh-user-management
      dockerfile: Dockerfile
    container_name: user-service
    ports:
      - "5000:3001"
    # env_file:
    #   - ./boh-user-management/.env
    environment:
      - DB_SERVER=db
      - DB_USER=sa
      - DB_PASSWORD=$(DB_PASSWORD)
      - DB_DATABASE=TestDB
      - DB_PORT=1433
      - JWT_SECRET=$(JWT_SECRET)
      - DB_USER_SCHEMA=user
    depends_on:
      - db
    networks:
      - boh-network
  db:
    image: mcr.microsoft.com/mssql/server:2025-latest
    ports:
      - "8080:1433"
    environment:
      - MSSQL_SA_PASSWORD=$(DB_PASSWORD)
      - ACCEPT_EULA=Y
    volumes:
      - mssql_boh_bank:/var/opt/mssql:rw
    networks:
      - boh-network
  boh-account-service:
    image: boh/boh-account-service:v1
    build: 
      context: ./boh-account-service
      dockerfile: Dockerfile
    networks:
      - boh-network
    container_name: account-service
    depends_on:
      - db
    # env_file:
    #   - ./boh-account-service/.env
    environment:
      - ConnectionStrings__DefaultConnection=Server=db,1433;Database=TestDB;User Id=sa;Password=$(DB_PASSWORD);TrustServerCertificate=True;
      - ConnectionStrings__servicebus=$(ConnectionStrings__servicebus)
      - ServiceBus__queueName=$(ServiceBus__queueName)
      - Jwt__Secret=$(JWT_SECRET)
      - Jwt__Issuer=$(Jwt__Issuer)
      - Jwt__Audience=$(Jwt__Audience)

    ports:
      - "3002:8080"
  boh-notification-service:
    image: boh/boh-notification-serice:v1
    build:
      context: ./boh-notification-service
      dockerfile: Dockerfile
    # env_file:
    #   - boh-notification-service/.env
    environment:
      - SMTP_HOST="smtp.azurecomm.net"
      - SMTP_PORT="587"
      - SMTP_USERNAME="boh@mail.harnoorpuniyani.dev"
      - SMTP_PASSWORD=$(ACS_APP_SECRET)
      - SMTP_SENDER="boh@mail.harnoorpuniyani.dev"
      - SERVICEBUS_CONNECTION_STRING=$(ConnectionStrings__servicebus)
      - SERVICEBUS_QUEUE_NAME=$(ServiceBus__queueName)
      - ACS_APP_ID=$(ACS_APP_ID)
      - ACS_APP_SECRET=$(ACS_APP_SECRET)

    networks:
      - boh-network
    container_name: notification-service
    depends_on:
      - db

volumes:
  mssql_boh_bank:
    external: true
  sql-boh-bank:
    driver: local
networks:
  boh-network:
    name: boh-bank
    driver: bridge
    